<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <add name="Default" connectionString="Server=localhost;Integrated Security=true;Initial Catalog=ConcurrencyTodo;" providerName="System.Data.SqlClient"></add>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>